html {
    height: 100%;
}
body {
    background: #5FB1D9;
    padding-top: 70px;
    margin: 0px;
    height: 100%;
}
.navbar-collapse.in {
    overflow-y: visible !Important;
}
@media(max-width: 992px) {
    #login-buttons.login-buttons-dropdown-align-right #login-dropdown-list {
        right: auto !Important;
    }
}
.nav a {
    color: #e0e0e0 !Important;
}
.nav a:hover,
.nav a:focus {
    color: #ffffff !Important;
}
#login-dropdown-list {
    background: #057AAF;
    border: 1px solid #581d1f;
    color: #e0e0e0 !Important;
}
.navbar-fixed-top {
    background: #057AAF;
}
main {
    padding-bottom: 20px;
}
.left-panel,
.center-panel,
.right-panel {
    background: #fff;
    padding: 10px 20px;
    overflow: auto;
    border: 3px solid #5FB1D9;
    border-radius: 10px;
}
.right-panel {
    overflow: hidden;
}
.height-100 {
    height: 100%;
}
.text-yellow {
    color: #ff0;
}
.peca {
    cursor: pointer;
}
.icon-discarte {
    font-size: 3em;
    margin-right: 10px;
    padding-top: 10px;
}
ul[dnd-list],
ul[dnd-list] > li {
    position: relative;
}
ul[dnd-list] {
    padding-left: 0px;
}
ul[dnd-list] .dndDraggingSource {
    display: none;
}
ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 42px;
}
ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}
#panzoom-resultado {
    width: 100%;
    height: 80%;
    border: 1px solid #999;
    border-radius: 10px;
}
.tabuleiro tr td {
    border: 1px solid #dedede;
    width: 60px;
    height: 60px;
}
.quadro-personagem {
    position: relative;
}
.quadro-personagem i {
    position: absolute;
    font-size: 2em;
    top: 0px;
    left: 0px;
    color: #ff0d0d;
}
